
<div class="grid">
  <div class="my-3"></div>
  <h1 class="center">All Paths</h1>

  <div class="grid col-6 col-md-3 col-sm-2">

      <% @paths.each do |path| %>
          <figure class="px-1">
            <%= link_to image_tag("#{path.header_image}"), path %>
            <figcaption><%= link_to path.title, path %></figcaption>
          </figure>

      <% end %>
  </div>
</div>
