@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Saira', sans-serif;
}

.text-primary {
  color: $primary-color;
}

.text-center {
  text-align: center;
}

.hide {
  opacity: 0;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}
