$primary-color: #93cb52;

$secondary-green: #7ab436;

$dark-green: #014421;

$black: #34435E;

$white: #ffffff;

$bg-image: image-url('jumping_hike.jpg');

$website-width: 1280px;

$tablet: 800px;

$phone: 500px;
