<section class="hero">
  <div class="hero-inner">
    <h1>
      Level Up Your
      <br>
      <div class="slidingVertical primary-text center">
        <span>Coding.</span>
        <span>CSS.</span>
        <span>Sales.</span>
        <span>Homeschooling.</span>
        <span>Finances.</span>
      </div>
      <span class="hide center">BYEBA</span>
    </h1>

    <%= link_to "Sign up", '#', class: 'btn' %>
  </div>
</section>

<main>
  <section class="about">
    <div class="card">
      <h2>
        Education is on each of us. Here's where to start.
      </h2>
    </div>
  </section>

  <div class=" grid col-6 col-md-3 col-sm-2">

      <figure>

        <%= image_tag("https://pbs.twimg.com/media/D5_-jjBWAAACs-W.jpg:large") %>
        <figcaption>Toly with a mic</figcaption>

      </figure>

      <figure>
        <img src="https://www.lakeplacid.com/f/styles/standard_header/public/page/34655/rs85871-dsc4506lpr.jpg?itok=_LsFwKaY"
            alt="Elephant at sunset">
        <figcaption>Toly with a mic</figcaption>

      </figure>
      <!-- <div class="py-2">CSS.</div> -->
      <div class="py-2">Sales.</div>
      <div class="py-2">Homeschooling.</div>
      <div class="py-2">Finances.</div>
      <div class="py-2">HTML.</div>
  </div>
</main>
