<header id="showcase">
  <div class="showcase-content">
    <h1 class="l-heading">
      Level Up Your
      <div class="slidingVertical primary-text">
        <span>Coding.</span>
        <span>CSS.</span>
        <span>Sales.</span>
        <span>Homeschooling.</span>
        <span>Financial Modeling.</span>
      </div>
      <span class="hide">DISAPPEAR</span>
    </h1>
    <p class="lead">
      Find your path to the next level
    </p>
    <%= link_to "Sign up", '#', class: 'btn' %>
  </div>
</header>



<main class="container">
  <section class="grid col-6 col-md-3 col-sm-2">
    <div class="py-2">Coding.</div>
    <div class="py-2">CSS.</div>
    <div class="py-2">Sales.</div>
    <div class="py-2">Homeschooling.</div>
    <div class="py-2">Financial Modeling.</div>
    <div class="py-2">Finance.</div>

  </section>
</main>
