<section class="hero">
  <div class="hero-inner">
    <h1>
      Level Up Your
      <br>
      <div class="slidingVertical primary-text center">
        <span>Coding.</span>
        <span>CSS.</span>
        <span>Sales.</span>
        <span>Homeschooling.</span>
        <span>Finances.</span>
      </div>
      <span class="hide center">BYEBA</span>
    </h1>

    <%= link_to "Sign up", '#', class: 'btn' %>
  </div>
</section>
