.btn {
  display: inline-block;
  color: #fff;
  background: $secondary-green;
  padding: .5rem 2rem;
  border: none;
  border-radius: 5px;

  &:hover {
    background: $primary-color;
    // color: light-grey;
  }

  &-danger {
    background: red;
    // padding: .3rem 1rem;
    font-size: 75%;
  }

  &-small {
    padding: .3rem 1rem;
  }
}
