// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
  &-5 {
    padding: 5rem 0;
  }
  &-10 {
    padding: 10rem 0;
  }
}

.px {
  &-1 {
    padding:0  1rem;
  }
  &-2 {
    padding:0  2rem;
  }
  &-3 {
    padding:0  3rem;
  }
  &-4 {
    padding:0  4rem;
  }
  &-5 {
    padding:0  5rem;
  }
  &-10 {
    padding: 0 10rem;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
  &-5 {
    margin: 5rem 0;
  }
  &-10 {
    margin: 10rem 0;
  }
}
