#showcase {
  background: #333 image-url('jumping_hike.jpg') no-repeat center center/cover;
  height: 70vh;
  color: #fff;

  .showcase-content {
    text-align: center;
    padding-top: 11%;

    h1 {
        font-size: 2rem;
        line-height: 1.2;
        }
  }
}

@media(max-width: $tablet) {

  #showcase {
    height: 30vh;

    .showcase-content {
      text-align: center;
      padding-top: 4%;

      h1 {
          font-size: 1.5rem;
          line-height: 1.2;
          }
      .lead {
        font-size: 1.2rem
      }
    }
  }
}

@media(max-width: $phone) {

  #showcase {
    height: 30vh;

    .showcase-content {
      text-align: center;
      padding-top: 4%;

      h1 {
          font-size: 1.3rem;
          line-height: 1.2rem;
          }
      .lead {
        font-size: 1rem
      }
    }
  }
}
