<nav id="navbar">
  <h1 class="logo">
    <%= link_to root_path do %>
      Level Up <span class="text-primary">Path</span>
    <% end %>
  </h1>
  <ul>
    <li><%= link_to "Sign Up", '#' %></li>
    <li><%= link_to "About", welcome_about_path %></li>
  </ul>
</nav>
